<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Grafite - Login</title>
<meta name="keywords" content="twitter facebook google buzz Grafite chat" />
<meta name="description" content="Grafite is a simple service that allows you to get the latest activity on all of your social networks, at one place that you like the most -- chat window!" />

<meta name="robots" content="all" />
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
<script type="text/javascript" src="/js/jquery.js"></script>
{% include "google-analytics.html" %}
</head>
<body>
<!-- begin wrap -->
<div id="wrap">
	<div id="topbar">
	    {% include "topbar.html" %}
	</div>
	<!-- begin header -->
	<div id="header">
        <!--<h1><a href="#">Hello, Grafite :-)</a></h1> -->
	<h2 id="path"><a href="/">Grafite</a></h2>
	</div>
	<!-- end header -->
	<!-- begin page -->
	<div id="page">
		<!-- begin content -->
		<div id="content">
			<div class="post">
                            <h2 style="text-align:left">What's this?</h2>
			    <div class="entry">
				<p>
				Grafite is a simple service that allows you to get the latest activity on all of your
				social networks, at one place that you like the most -- chat window! As of now, the
				following networks are supported
				</p>
				<ul>
				    <li><a href="http://www.facebook.com">Facebook</a></li>
				    <li><a href="https://mail.google.com/mail/#buzz">Google Buzz</a></li>
				    <li><a href="http://twitter.com">Twitter</a></li>
				</ul>
				<p>
				To get started, register yourself. To register click <a href="#" onclick="toggleRegisterDiv();">here</a>
				<br><br>
				Catch Grafite Bot at Google Talk ID <a href="grafiteapp@appspot.com">grafiteapp@appspot.com</a>.
				</p>
				<p>
				More detailed instructions <a href="/help">here</a>.
				</p>
			    </div>
			    <div class="meta">
				
			    </div>
			</div>
			<div class="post">
			    <h2 style="text-align:left">Got ideas? Need help?</h2>
			    <div class="entry">
				<p>
				Have you got any ideas? Anything that you would like Grafite to do? Or is there anything
				wrong with Grafite? Any bug reports? 
				</p>
				<p>
				Hit the Grafite(app) Fan page at Facebook, <a href="http://goo.gl/WHko8">here</a>.
				</p>
				
				<p>
				Or you can always contact me (Srivatsan Iyer):
				<ul>
				    <li><a href="mailto:supersaiyanmode.rox@gmail.com">E-mail/GTalk</a>
				    <li><a href="http://www.facebook.com/srivatsan.iyer.90">Facebook<a>
				    <li><a href="http://twitter.com/thrustmaster9">Twitter</a>
				</ul>
				</p>
			    </div>
			</div>
		</div>
	</div>
	
	{% include "bottombar.html" %}
	
	<!-- end page -->
	<!-- begin footer -->
	<div id="footer">
		<!-- All we ask of you is to keep this credits intact. We hope you don't mind :) -->
		<p class="legal"><a href="http://www.thewebhub.com/2008/11/lightspeed/">LightSpeed Free CSS Template</a> by <a href="http://thewebhub.com/">TheWebHub.com</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ph/">Creative Commons Attribution-Share Alike 3.0 Philippines License</a>.<br />
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ph/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/ph/88x31.png" /></a></p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrap -->
</body>
</html>
