<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Grafite - Register</title>
<meta name="keywords" content="twitter facebook google buzz Grafite chat" />
<meta name="description" content="{{DATA.profileUser.Nickname}} - {{DATA.profileUser.userServicesString}}. Joined on {{DATA.profileUser.dateJoined|date}}" />
<meta name="robots" content="all" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/iPhoneStyle.css" media="screen" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/js/iPhoneStyle.js"></script>
<script type="text/javascript" src="/js/register.js"></script>
<script type="text/javascript">

</script>
<style type="text/css">
input[type=text][alignoffset], input[type=password][alignoffset] {
	float:right;
	margin-right:200px;
}
</style>
</head>
<body>
<!-- begin wrap -->
<div id="wrap">
	<div id="topbar">
	    {% include "topbar.html" %}
	</div>
	
	<!-- begin header -->
	<div id="header">
		<h2 id="path"><a href="/">Grafite</a>/<a href="#">Register</a></h2>
	</div>
	<!-- end header -->
	
	<!-- begin page -->
	<div id="page">
		<!-- begin content -->
		<div id="content">
			<div class="post">
				<div class="entry">
					<h3>Step 1</h3>
					Choose a username: <input type="text" id="txtNewUserUsername" placeholder="Username" alignoffset/>
					<a href="#" onclick="checkNewUsernameValidity(); return false;">Check availability</a>
				</div>
			</div>
            <div class="post">
                <div class="entry">
                    <h3>Step 2</h3>
                    <p>Choose a password <input type="password" id="txtNewUserPassword" placeholder="Password" alignoffset/></p>
                    <p>Confirm password <input type="password" id="txtNewUserPasswordConfirm" placeholder="Password" alignoffset/></p>
                    <a href="#" onclick="checkNewUserPasswordValidity(); return false;">Update</a>
                </div>
            </div>
			<div class="post">
				<div class="entry">
					<h3>Step 3</h3>
					<p>Enter your email address: <input type="text" id="txtNewUserEmail" placeholder="Email Address" alignoffset/></p>
					<a href="#" onclick="sendVerificationCode(); return false;">Send Verification Code</a>
				</div>
			</div>	
			<div class="post">
				<div class="entry">
					<h3>Step 4</h3>
					<p>Add <a href="#">grafiteapp@appspot.com</a> to your Gtalk list (much like you invite a friend to chat),
					and ping Grafitebot with your verification code like the below</p>
					<pre>verify MyVerificationCode</pre>
					<a href="#" onclick="checkNewUserVerficationPing(); return false;">I just pinged him!</a>
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- begin sidebar -->
		<div id="sidebar">
			{% include "sidebar.html" %}
		</div>

		<!-- end sidebar -->
	</div>
	<!-- end page -->
	<!-- begin footer -->
	<div id="footer">
		<!-- All we ask of you is to keep this credits intact. We hope you don't mind :) -->
		<p class="legal"><a href="http://www.thewebhub.com/2008/11/lightspeed/">LightSpeed Free CSS Template</a> by <a href="http://thewebhub.com/">TheWebHub.com</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ph/">Creative Commons Attribution-Share Alike 3.0 Philippines License</a>.<br />
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ph/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/ph/88x31.png" /></a></p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrap -->
</body>
</html>
